<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>My profile</title>
    </head>
    <body>
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/logout}">Logout</a>

        
        <h2><span th:text="${account.username}">Should be the username here</span></h2>
        
        <table>
            <tr>
                <td>Username</td>
                <td><span th:text="${account.username}">Should be the username here</span><</td>
            </tr>
            <tr>
                <td>Username</td>
                <td><span th:text="${account.nimi}">Should be the name here</span><</td>
            </tr>
            <tr>
                <td>Username</td>
                <td><span th:text="${account.urli}">Should be the url here</span><</td>
            </tr>
        </table>

    </body>
</html>
